body {
    background-color: #c9ada7;
    margin-top: 0;
    text-align: center;
}

h1 {
    color: #f2e9e4;
}

.title {
    text-align: center;
    color: #f2e9e4;
}

img {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

/* 해당 이미지에 너비와 높이, 모서리를 깎는 정도를 적용했다. */
/* 만약 border-radius를 50%을 주게 되면 완전히 동그란 이미지가 된다. */

li {
    text-decoration: none;
    list-style: none;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}