.header_section {
    border-bottom: 2px solid transparent;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 250px;
    padding: .5rem;
}