.userfile_box {
    width: 30%;
    margin: auto;
    margin-top: 50px;
    background-color: #eddcff;
    text-align: center;
    padding: 5rem;
    border-radius: 10px;
    font-size: 1.5rem;
}